<?xml version="1.0" ?>
<robot name="ur10table" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

  <material name="blue"><!--blue-->
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="green"><!--green-->
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="grey"><!--grey-->
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="orange"><!--orange-->
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="brown"><!--brown-->
    <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
  </material>

  <link name="world"/>


  <link name="table">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_table/meshes/deskasagv.STL" />
      </geometry>
      <material
        name="orange">
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_table/meshes/deskasagv.STL" />
      </geometry>
    </collision>
  </link>

  <!--link name="camera_frame"/-->

  <xacro:ur10_robot prefix="" joint_limited="true"/>

  <!--joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint-->

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0.14 0 0" rpy="0 0 0"/>
  </joint>

  <!--joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_frame"/>
    <origin xyz="-0.25 -0.5 1.25" rpy="0 3.14159 0"/>
  </joint-->

  <!--joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="0.4 0 0.025" rpy="0 0 0"/>
  </joint-->

  <joint name="world_to_robot" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 3.1415926535897932346"/>
  </joint>


  <link name="camera_link"/>
  <joint name="camera_frame_to_world" type="fixed">
    <parent link="world" />
    <child link="camera_link" />
    <origin xyz="1 -0.2 1.5" rpy="3.14159 0 0" />
  </joint>
</robot>
